*{margin: 0; padding: 0;}
.root{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search{
    width: 20%;
    background-color: aqua;
}
.lyrics{
    width: 80%;
    background-color: blueviolet;
    text-align: center;
}
.search input{
    margin-top: 2%;
    margin-left: 2%;
    width: 80%;
    height: 5%;
    font-size: 20px;
}
.search button{
    margin-top: 2%;
    margin-left: 2%;
    width: 50%;
    height: 5%;
    font-weight: bold;
}
.lyrics p{
    margin-top: 5%;
    font-size: 25px;
}