*{margin: 0; padding: 0;}
.root{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: slateblue;
}
.search{
    width: 20%;
    background-color: steelblue;
}
.search p{
    margin-left: 2%;
    margin-top: 3%;
    font-size: 25px;
    font-weight: bold;
}
.lyrics{
    width: 80%;
}
.search input{
    margin-top: 2%;
    margin-left: 2%;
    width: 80%;
    height: 5%;
    font-size: 20px;
}
.search button{
    margin-top: 2%;
    margin-left: 2%;
    width: 50%;
    height: 5%;
    font-weight: bold;
}
.lyrics p{
    text-align: center;
    margin-left: 20%;
    margin-top: 3%;
    font-size: 20px;
    width: 60%;
}
#music_title{
    margin-top: 1%;
    font-weight: bold;
}