<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Bem Vindo</h1>
        <form action="/pdf" method="POST">
            <textarea name="texto"></textarea>
            <input type="submit" value="Enviar">
        </form>
        <% if(validacao.length > 0){%>
            <div>
                <p><%=validacao%></p>
            </div>
        <% } %>
    </body>
</html>